{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turing - Página Admin/</title>

    <link rel="stylesheet" href="{% static 'courses/css/admin.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap" rel="stylesheet">

</head>

<body> 

    <header>
        <a href="login.html" id="sair">Sair</a>
        <h1 id="logo">Administrador</h1>
    </header>

    <!-- Main -->

    <main class="container">
        <section id="administrador">
            <h2>Dados</h2>

            <div class="card">
                <table id="data-table">
                    <tbody>
                        <tr>
                            <td class="description">Nome:</td>
                            <td class="data">Gabriel A. de S. H. Magalhães</td>
                        </tr>
                        <tr>
                            <td class="description">Sala:</td>
                            <td class="data">402</td>
                        </tr>
                        <tr>
                            <td class="description">E-mail:</td>
                            <td class="data">gabriel.ashm@hotmail.com</td>
                        </tr>
                    </tbody>
                </table>

                <a href="#" onclick="Modal.open()" class="button edit">Editar</a>

            </div>
        </section>

        <section id="materiais">
            <h2>Materiais</h2>
            <div class="card materiais">
                <nav>
                    <ul>
                        <li><button onclick="DOM.toggleTable(0)">Site</button></li>
                        <li><button onclick="DOM.toggleTable(1)">Livro</button></li>
                        <li><button onclick="DOM.toggleTable(2)">Professor</button></li>
                        <li><button onclick="DOM.toggleTable(3)">Vídeo</button></li>
                        <li><button onclick="DOM.toggleTable(4)">Matéria</button></li>
                    </ul>
                </nav>

                <table id="db-table">
                </table>

            </div>
        </section>

    </main>

    <div class="modal-overlay">
        <div class="modal">
            <div id="form">
                <h2>Atualizar Perfil</h2>
                <form action="">
                    <div class="input-group">
                        <input 
                            type="text"
                            id="name"
                            name="name"
                            placeholder="Novo Nome"
                        />
                    </div>

                    <div class="input-group">
                        <input 
                            type="number"
                            id="classroom"
                            name="classroom"
                            placeholder="Sala"
                        />
                        <small class="help">Somente números</small>
                    </div>

                    <div class="input-group">
                        <input 
                            type="text" 
                            id="email" 
                            name="email"
                            placeholder="Novo E-mail"
                        />
                    </div>

                    <div class="input-group">
                        <input 
                            type="password" 
                            id="password" 
                            name="password"
                            placeholder="Nova senha"
                        />
                    </div>

                    <div class="input-group actions">
                        <a href="#" onclick="Modal.close()" class="button cancel">Cancelar</a>
                        <button type="submit" class="button save">Salvar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <script>
        const Modal = {
            open() {
                document.querySelector('.modal-overlay').classList.add('active')
            },
            close() {
                document.querySelector('.modal-overlay').classList.remove('active')
            }
        }

        const DOM = {
            dataContainer: document.querySelector('.card.materiais'),

            toggleTable(type) {

                // Remover a tabela antiga
                const prevTable = document.querySelector('.card.materiais table')
                prevTable.remove()

                // Seleciona a table
                const table = document.createElement('table')

                // Define qual o HTML a ser passado de acordo com o botão clicado
                table.innerHTML = DOM.innerHTMLMaterial(type)
                
                // Adicionar ID #db-table ao elemento table
                table.setAttribute('id', 'db-table')

                // Adiciona a nova tabela
                DOM.dataContainer.appendChild(table)
                document.querySelector('table').add
                
            },

            innerHTMLMaterial(type) {
                let html

                switch (type) {
                    case 0:
                        html = `
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Descrição</th>
                                <th>Especialdade</th>
                                <th>Link</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>teste</td>
                                <td>teste</td>
                                <td>teste</td>
                                <td>teste</td>
                            </tr>
                        </tbody>
                        `
                        break;

                    case 1:
                        html = `
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Descrição</th>
                                <th>Especialidade</th>
                                <th>Disponibilidade</th>
                                <th>Autor</th>
                                <th>Edição</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>teste</td>
                                <td>teste</td>
                                <td>teste</td>
                                <td>teste</td>
                                <td>teste</td>
                                <td>teste</td>
                            </tr>
                        </tbody>
                        `
                        break;

                    case 2:
                        html = `
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Descrição</th>
                                <th>Especialidade</th>
                                <th>Sala</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>teste</td>
                                <td>teste</td>
                                <td>teste</td>
                                <td>teste</td>
                                <td>teste</td>
                            </tr>
                        </tbody>
                        `
                        break;

                    case 3:
                        html = `
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Descrição</th>
                                <th>Especialidade</th>
                                <th>Link</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>teste</td>
                                <td>teste</td>
                                <td>teste</td>
                                <td>teste</td>
                            </tr>
                        </tbody>
                        `
                        break;

                    case 4:
                        html = `
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Descrição</th>
                                <th>Especialidade</th>
                                <th>Código</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>teste</td>
                                <td>teste</td>
                                <td>teste</td>
                                <td>teste</td>
                            </tr>
                        </tbody>
                        `
                        break;
                }
                
                return html
            },
        }
    </script>


    <footer>
        <p>Universidade Federal de Juiz de Fora</p>
    </footer>


</body>