{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turing - Página Admin/</title>

    <link rel="stylesheet" href="{% static 'courses/css/admin.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap" rel="stylesheet">

</head>

<body> 

    <header>
        <a href="login.html" id="sair">Sair</a>
        <h1 id="logo">Administrador</h1>
    </header>

    <!-- Main -->

    <main class="container">
        <section id="administrador">
            <h2>Dados</h2>

            <div class="card">
                <table id="data-table">
                    <tbody>
                        <tr>
                            <td class="description">Nome:</td>
                            <td class="data">Gabriel A. de S. H. Magalhães</td>
                        </tr>
                        <tr>
                            <td class="description">Sala:</td>
                            <td class="data">402</td>
                        </tr>
                        <tr>
                            <td class="description">E-mail:</td>
                            <td class="data">gabriel.ashm@hotmail.com</td>
                        </tr>
                    </tbody>
                </table>

                <a href="#" onclick="Modal.open()" class="button edit">Editar</a>

            </div>
        </section>

        <section id="materiais">
            <h2>Materiais</h2>
            <div class="card materiais">
                <a href="materiais.html">Ver lista de materiais</a>
            </div>
        </section>

    </main>

    <script>
        const Modal = {
            open() {
                document.querySelector('.modal-overlay').classList.add('active')
            },
            close() {
                document.querySelector('.modal-overlay').classList.remove('active')
            }
        }
    </script>


    <footer>
        <p>Universidade Federal de Juiz de Fora</p>
    </footer>


</body>