{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turing - Chatbot para Alunos da Computação/</title>

    
    <link rel="stylesheet" href="{% static 'courses/css/login.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap" rel="stylesheet">

</head>



<body>

    <header>
        <h1 id="logo">UFJF</h1>
    </header>


    {% block content %}
    <main class="container">
        <section id="login" >
            <form class="card">
                <h3>Login</h3>
                <input type="text" name="matricula" placeholder="Sua matrícula..." />
                <input type="password" name="senha" placeholder="Sua senha..." />
                <a href="profile" class="button login">Entrar</a>
                <a href="#" onclick="Modal.open()" class="button login">Cadastrar</a>
                <p>
                    <span>Administrador?</span> <a href="/admin/home" class="button admin">Acesse aqui</a>
                </p>
                
                
            </form>
        </section>
        
    </main>

    <div class="modal-overlay">
        <div class="modal">
            <div id="form">
                <h2>Novo Cadastro</h2>

                <form action="" method="post">
                    {% csrf_token %}
                    {{ student_form }}

                    <div class="input-group actions">
                        <a href="#" onclick="Modal.close()" class="button cancel">Cancelar</a>
                        <button type="submit" class="button save">Salvar</button>
                    </div>
                </form>
                

            </div>
        </div>
    </div>
        
    <script>
        const Modal = {
            open() {
                document.querySelector('.modal-overlay').classList.add('active')
            },
            close() {
                document.querySelector('.modal-overlay').classList.remove('active')
            }
        }
    </script>


    <footer>
        <p>Universidade Federal de Juiz de Fora</p>
    </footer>

    {% endblock content %}

</body>
</html>