{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turing - Perfil</title>

    <link rel="stylesheet" href="{% static 'courses/css/profile.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <a href="login" id="sair">Sair</a>
        <h1 id="logo">Turing</h1>
        
    </header>

    {% block content %}
    <main class="container">
        <section id="profile">
            <h2>Perfil</h2>

            <div class="card">

                <table id="data-table">
                
                    <tbody>
                        <tr>
                            <td class="description">Nome</td>
                            <td class="data">{NOME DO ALUNO}</td>
                        </tr>
                        <tr>
                            <td class="description">Matrícula</td>
                            <td class="data">{MATRICULA DO ALUNO}</td>
                        </tr>
                        <tr>
                            <td class="description">E-mail</td>
                            <td class="data">{EMAIL DO ALUNO}</td>
                        </tr>
                    </tbody>
                </table>

                <a href="#" onclick="Modal.open()" class="button edit">Editar</a>

            </div>
        </section>

        <section id="turing">
            <h2>Chat</h2>
            <div class="card turing">
                <a href="turing">Iniciar conversa</a>
            </div>
        </section>

    </main>

    {% endblock content %}

    <div class="modal-overlay">
        <div class="modal">
            <div id="form">
                <h2>Atualizar Perfil</h2>
                <form action="">
                    <div class="input-group">
                        <input 
                            type="text"
                            id="name"
                            name="name"
                            placeholder="Novo Nome"
                        />
                    </div>

                    <div class="input-group">
                        <input 
                            type="text"
                            id="registration"
                            name="registration"
                            placeholder="Nova Matrícula"
                        />
                        <small class="help">Inclua as letras no final da Matrícula</small>
                    </div>

                    <div class="input-group">
                        <input 
                            type="text" 
                            id="email" 
                            name="email"
                            placeholder="Novo E-mail"
                        />
                    </div>

                    <div class="input-group">
                        <input 
                            type="password" 
                            id="password" 
                            name="password"
                            placeholder="Nova senha"
                        />
                    </div>

                    <div class="input-group actions">
                        <a href="#" onclick="Modal.close()" class="button cancel">Cancelar</a>
                        <button type="submit" class="button save">Salvar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <script>
        const Modal = {
            open() {
                document.querySelector('.modal-overlay').classList.add('active')
            },
            close() {
                document.querySelector('.modal-overlay').classList.remove('active')
            }
        }

        const Turing = {
            chat() {
                alert('Conversa Iniciada!');
            }
        }
    </script>

    <footer>
        <p>Turing</p>
    </footer>

</body>

</html>