{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turing - Chat</title>

    <link rel="stylesheet" href="{% static 'courses/css/turing.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>

    <header>
        <a href="profile.html" id="voltar" >&lt---</a>
        <h1 id="logo">Turing</h1>
    </header>

    <main class="container">

        <section id="turing">
            <h2>Chat</h2>
            <div class="card turing">
                <a href="#" onclick="Turing.chat()">Iniciar conversa</a>
            </div>
        </section>

    </main>

    <footer>
        <p>Turing</p>
    </footer>
    
</body>
</html>