
{%extends "chatbot/base.html"%}
{%load crispy_forms_tags%}

{% load static %}
{%block styles%}
    <link rel="stylesheet" href="{% static 'chatbot/base.css'%}">
    <link rel="stylesheet" href="{% static 'students/login.css'%}">
{%endblock%}

{% block content%}
    <div class="container">
        <form action="" method="POST">
            {% csrf_token %}
            {{ form | crispy}}

            <div class="form-group">
                <button class="login-button" type="submit"> Entrar </button>

            </div>
        </form>

        <div class="border-top pt-3">
            <small class="text-small">
                Não é cadastrado? <a class="link" href="{%url 'register'%}"> Cadastre-se! </a>
            </small>
        </div>
    </div>
    
{% endblock content%}
